---
import Layout from '@/layouts/Layout.astro'
import { type AllFighters, type Fighter } from '@/const/Fighter'
import FighterCard from '@/components/FighterCard'
import Header from '@/sections/Header.astro'

export async function getStaticPaths() {
  try {
    const data: AllFighters = await fetch(
      'https://dragonball-api.com/api/characters?limit=58'
    ).then((res) => {
      if (!res.ok) {
        throw new Error('Network response was not ok')
      }
      return res.json()
    })

    return data.items.map((fighter) => ({
      params: { id: fighter.id },
      props: { fighter: fighter }
    }))
  } catch (error) {
    console.error('Error fetching fighters:', error)
    return [] // Retorna un array vacío en caso de error
  }
}

const { id } = Astro.params

const fighter: Fighter = await fetch(
  `https://dragonball-api.com/api/characters/${id}`
)
  .then((res) => res.json())
  .catch(() => null)
---

<Layout>
  <Header
    firstAnchorHref='/#principal-fighters'
    firstAnchorText='Guerreros Z'
    secondAnchorHref='/#characters'
    secondAnchorText='Personajes'
  />
  <main
    class='max-w-6xl px-2 lg:px-10 mx-auto mt-40 md:mt-24 mb-4 min-h-[calc(100vh-150px)]'
  >
    {
      fighter ? (
        <FighterCard fighter={fighter} client:only='react' />
      ) : (
        <div class='flex flex-col items-center justify-center gap-y-6'>
          <h1 class='text-gray-300 text-6xl font-bold'>
            Error al cargar la página
          </h1>
          <img
            src='/404.webp'
            alt='Error al cargar la página'
            class='h-80 rounded-full'
          />
        </div>
      )
    }
  </main>
</Layout>
