---
import Layout from '@/layouts/Layout.astro'
import Hero from '@/sections/Hero.astro'
import Info from '@/sections/Info.astro'
import Promo from '@/sections/PromoMictlan.astro'
import PrincipalFighters from '@/sections/PrincipalFighters.astro'
---

<Layout>
  <main class='max-w-6xl px-2 lg:px-10 mx-auto mt-14'>
    <Hero />
    <Info />
    <PrincipalFighters />
    <Promo />
  </main>
</Layout>
