---
import DragonBall from '@/components/DragonBall.astro'
---

<div class='absolute blur-sm bottom-1/2 right-1/7'>
  <DragonBall />
</div>

<div class='absolute blur-sm top-3/7 left-1/4'>
  <DragonBall />
</div>

<div class='absolute blur-sm top-5/8 left-2'>
  <DragonBall />
</div>

<div class='absolute blur-sm bottom-170 right-1/5'>
  <DragonBall />
</div>

<div class='absolute blur-sm bottom-1/7 left-20'>
  <DragonBall />
</div>

<div class='absolute blur-sm bottom-10 right-1/3'>
  <DragonBall />
</div>
