<section class='flex flex-col font-medium text-neutral-300 my-24 gap-y-10'>
  <div
    class='grid [grid-template-columns:1fr] lg:[grid-template-columns:1fr_1.5fr_1fr] text-center gap-x-10'
  >
    <article
      class='order-2 lg:order-1 flex justify-center items-center text-xl py-10 px-10 cursor-default transition duration-300 hover:scale-110 backdrop-blur-sm rounded-lg bg-linear-to-b from-neutral-400/20 via-neutral-400/5 to-transparent'
    >
      <h5 class='w-56 text-center'>Personajes, imagenes y transformaciones.</h5>
    </article>
    <a
      class='order-1 gap-y-4 lg:order-2 flex flex-col justify-center items-center text-2xl py-10 px-10 hover:text-red-500 transition duration-300 hover:scale-110 backdrop-blur-sm rounded-lg bg-linear-to-b from-neutral-400/20 via-neutral-400/5 to-transparen'
      href='https://web.dragonball-api.com/'
      target='_blank'
      rel='noopener noreferrer'
    >
      <h4>Elaborado utilizando DragonBall API.</h4>
      <img
        src='https://web.dragonball-api.com/images-compress/logo_dragonballapi.webp'
        alt='DragonBall API'
        class='h-18 md:h-16 lg:h-18 object-cover'
      />
    </a>
    <article
      class='order-3 flex justify-center items-center text-xl py-10 px-10 cursor-default transition duration-300 hover:scale-110 backdrop-blur-sm rounded-lg bg-linear-to-b from-neutral-400/20 via-neutral-400/5 to-transparen'
    >
      <h5>Incluye personajes oficiales de DragonBall.</h5>
    </article>
  </div>
</section>
