---
import MenuFighterZ from '@/components/MenuFighterZ.tsx'
---

<section id='principal-fighters' class='py-24'>
  <div class='flex flex-col justify-center items-center text-center gap-y-4'>
    <h2 class='text-xl md:text-2xl lg:text-3xl font-bold text-neutral-200'>
      Guerreros Z
    </h2>
    <span
      class='text-center text-md lg:text-lg max-w-xl font-bold text-neutral-400'
      >Conoce los detalles de los personajes principales de DragonBall Z.</span
    >
  </div>

  <MenuFighterZ client:load />
</section>
