<section class='flex flex-col items-center justify-center gap-y-3 pt-24'>
  <h2
    class='text-center text-xl md:text-2xl lg:text-3xl font-bold text-neutral-200'
  >
    La enciclopedia completa de DragonBall.
  </h2>
  <h3
    class='text-center text-md lg:text-lg max-w-xl font-bold text-neutral-400'
  >
    <span class='text-orange-400'>¡Bienvenido!</span> Aquí encontrarás toda la información
    acerca de los personajes totalmente en español.
  </h3>
  <a
    href='/'
    class='transition-all duration-300 text-zinc-800 hover:-translate-y-1 inline-flex items-center justify-center font-medium text-center border-0 shadow-lg backdrop-blur-sm px-4 py-2.5 text-sm rounded-md hover:text-white bg-orange-400 hover:bg-red-500'
  >
    Ver todos los personajes
  </a>
</section>
